.height-full {
    height: 100%;
}

.scroll {
    height: 100%;
    overflow-y: scroll;
}

.Products p {
    padding: unset;
    margin: unset;
    height: 100%;
    padding: .3rem;
    z-index: 5;
}
.col > p {
    display: flex;
}

.width-product>img {
.productTitle, .productDescription, .productPrice {
    z-index: 3;
}
    object-fit: cover;
    height: 100%;
    max-height: 30rem;
}
.width-product>img, .width-product {
    min-width: 30rem;
    width: 100%;
}

.space-between {
    justify-content: space-between;
}